body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.project-entry:nth-child(8),
.project-entry:nth-child(5){
  clear: both;
}

.work-entry,
.project-entry {
  padding: 2% 3% 5%;
}

.work-heading {
  color: #0c7cb5;
  margin-top: 10px;
  display: block;
  padding-left: 0;
}

.education-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #0b9f72;
  line-height: 48px;
  display: inline-block;
  padding-right: 5px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #2f353f;
  line-height: 29px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2f353f;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 20px 5% 10px 2.5%;
}

.url-text {
  font-weight: bold;
  color: #2f353f;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #0c7cb5;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  display: inline;
}

#skills-h3 {
  color: #0b9f72;
  margin-left: 15px;
  display: none;
}

.green {
  background-color: #0b9f72;
}

.green-text {
  color: #0b9f72;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #dedede;
  padding: 10px;
}

.dark-blue {
  background-color: #2f353f;
}

#header {
  background-color: #2f353f;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  border-radius: 100%;
  background: linear-gradient(#0b9f72, #2f353f);
  float: left;
  margin-right: 15px;
  padding: 10px;
  width: 200px;
  display: none;
}

.drop-shadow {
  -webkit-filter: drop-shadow(12px 12px 6px rgba(0,0,0,0.7));
  filter: drop-shadow(12px 12px 6px rgba(0,0,0,0.7));
}

img {
  padding: 5% 0 0;
  max-width: 100%;
}

span {
  padding: 5px;
  display: inline-block;
}

.column {
  padding-top: 20px;
}

 #map {
  display: block;
  height: 100%;
  width: 100%;
  margin: 5% 0 5%;
}

#mapDiv {
  height: 450px;
  width: 100%;
}

#lets-connect {
  text-align: center;
  margin-top: 2%;
  width: 100%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 12%;
  }

  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }

  .work-entry {
    max-width: 100%;
  }

  #map {
    display: block;
    min-height: 75%;
    width: 100%;
    margin: 10% 0 5%;
  }

  #mapDiv {
    height: 450px;
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

  #workExperience {
    height: 650px;
  }

  .work-entry {
    max-width: 100%;
    float: right;
  }

  #map {
    display: block;
    min-height: 75%;
    width: 100%;
    margin: 10% 0 5%;
  }

  #mapDiv {
    height: 450px;
    width: 100%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}





